<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Upload images and store them securely with this web service." />
    <meta name="author" content="Your Name Here" />
    <meta property="og:title" content="Upload Image Service" />
    <meta property="og:description" content="Upload images and store them securely with this web service." />
    <meta property="og:image" content="URL-to-image-preview" />
    <meta property="og:url" content="https://yourwebsite.com/" />

    <title>Upload Image</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.0/darkly/bootstrap.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_image_upload/css/styles.css' %}" />
    <link rel="icon" href="{% static 'app_image_upload/images/favicon.ico' %}" type="image/x-icon" />
</head>

<body>
    <div class="upload-form">
        <!-- Header -->
        <div class="upload-form__header">
            <h1 class="upload-form__title">Upload Image</h1>
        </div>

        <!-- Content -->
        <div class="upload-form__content">
            <form method="POST" enctype="multipart/form-data" class="upload-form__form">
              <div>
                {% csrf_token %}

                <!-- Error messages -->
                
                <div class="upload-form__group">
                  <ul class="upload-form__messages" role="alert">
                    {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == 'error' %}
                        <li class="upload-form__message">{{ message }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              

                <!-- File input -->
                <div class="upload-form__group">
                    {{ form.image }}
                </div>

                <!-- Submit button -->
                <div class="upload-form__group">
                    <button type="submit" class="upload-form__button">Upload</button>
                </div>

                <!-- Help text -->
                <div class="upload-form__group">
                    <small class="text-muted d-block mb-1">Accepted formats: JPEG, JPG, PNG.</small>
                    <small class="text-muted">Max file size: 2MB.</small>
                </div>
              </div>
            </form>
        </div>
    </div>
</body>
</html>
